body{
  background:#aaa;
  margin:0;
  padding:0;
}

.item{
  padding:16px;
  cursor: pointer;
}
.item:hover{
  background: #eee;
  color:#444;
}

.heading{
  padding:16px;
  cursor: default;
}

#output{
  font-size:20px;
  color:#555;
  background:#ddd;
  white-space:pre;
  /* line-height: 1.7em; */
  overflow:auto;

  padding:20px;
  border:solid 1px;

  position:absolute;
  top:20px;
  left:20px;
  width:calc(100% - 80px);
  height:calc(100% - 80px);
}
