body{
  background: #556;
  padding:0;
  margin:0;
}

table,tr,td{
  padding:0;
  margin:0;
  border-spacing:0;
  /* border: 1px solid red; */
}

.slc{
  cursor:pointer;
  padding:16px;
}
.slc:hover{
  background: rgba(255,255,255,.3);
}

#mainTable{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  position: absolute;
  top:0;
  left:0;
}

#SLcontainer{
  overflow: auto;
  padding:0;
  margin:16px 0px 20px 20px;
  height: 1px;
}

#tabContainer, #reviewButtons, #adderButtons{
  height:40px;
  border-bottom: none;
  padding:0;
  border-spacing:1px;
}
#tabContainer{ margin:20px 20px 0px 20px; }
#reviewButtons, #adderButtons{ float:right; }

#FVcontainer{
  overflow: auto;
  height: 1px;
  border: 1px solid white;
  margin:0px 20px 20px 20px;
  background: rgba(255,255,255,.7);
}

#listcolumn{
  width: 400px;
  height: 100%;
}

#viewcolumn{
  /* width:400px; */
  /* width:calc(100% - 400px); */
}

#header{
  width:calc(100% - 8px);
  height:80px;
  margin:4px;
  /* border-bottom:solid 1px; */
}

#uidLetter:hover,#songtitle:hover,.headerField:hover{ background: rgba(  0,  0,255,.1); }
#uidLetter:focus,#songtitle:focus,.headerField:focus{ background: rgba(128,128,255,.1); outline: none; }

#songtitle{
  color: rgba(0,0,16,.8);
  padding:20px 20px 0 20px;
  margin:0;
  font-size: 24px;
  font-weight: bold;
  float:left;
  width:calc(100% - 180px);
  height:55px;
  /* border:solid 1px; */
}

.headerField{
  color: rgba(0,0,16,.8);
  padding:20px 20px 0 20px;
  margin:0;
  font-size: 18px;
  width:calc(100% - 42px);
  height:45px;
  display:block;
  /* border:solid 1px; */
}
#authorLabel,#notesLabel{
  text-align: right;
  padding-right: 40px;
  height:0px;
  font-size: 8px;
  /* width:100%; */
  width:calc(100% -40px);
  /* margin-top: -56px; */
}

#songauthor{
  font-style: italic;
}

#songauthor,#songnotes{
  /* width:calc(100% -40px); */
  margin-top: -10px;
  margin-bottom: 10px;
}
#songnotes{
  /* margin-bottom: 80px; */
  white-space: pre;
  height: auto;
  padding-bottom: 20px;
}

#uidLetter, #uidNumber{
  float:left;
  padding:20px 0 0 0;
  font-size: 24px;
  margin:0;
  width:65px;
  height:55px;
  text-align: right;
  /* border:solid 1px; */
}
#uidNumber{
  padding:20px 0 0 0;
  text-align: left;
  color:#889;
  cursor:default;
}
#uidLetterAdd{
  background: #fff;
  border:solid 1px;
  width:45px;
  height:45px;
  position:fixed;
  right:50px;
  top: 50px;
  text-align: center;
  padding:20px 10px 10px 10px;
  font-size: 24px;
}

.letterHeading{
  margin-top:20px;
}

small{
  font-size: 8px;
  color:#445;
}
s{ color:#833; }

#fileviewer,#searchResults{
  color: rgba(0,0,16,.8);
  padding:20px;
  margin:4px;
  font-size: 20px;
  line-height: 1.7em;
}

#bvCircles{
  padding:5px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom:40px;
  right:40px;
  border:solid 5px #f00;
  background: rgba(255,128,128,.5);
}
#bvCircles:hover{ background: rgba(255,128,128,.8); }

#searchResults{
  line-height: 0em;
  /* position: absolute; */
  display: none;
  /* padding: 40px; */
  /* margin-top: -60px; */
  white-space: pre-wrap;
  /* height:calc(100% - 220px); */
  /* overflow-y: scroll; */
}

.active{
  background: rgba(255,255,255,.7) !important;
}

.list {
  color:#dde;
  /* background: #445; */
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 14px;
}

.list-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.ghost {
  opacity: .4;
}

.list-item {
  color:#223;
  background: #889;
  padding: 16px;
  border: 1px solid white;
  margin: 3px 0;
  cursor: pointer;
  font-size: 16px;
}
.list-item:hover {
  color:#445;
  background: #aab;
}
.edited{
  color: #734;
}

.verse{
  padding:10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid #bbc 1px;
  /* width:100%; */
}
.bang, .roma, .syno, .tran{
  margin-bottom: 20px;
  /* width:100%; */
}

.verse:hover, .bang:hover, .roma:hover, .syno:hover, .tran:hover{
  background: rgba(0,0,0,.02);
}

.prevNext{
  width:200px;
  /* height:40px; */
  padding:10px 24px 10px 24px !important;
  margin-right: 20px;
  float:left;
}

.bold{ font-weight: bold; }
.frozen:hover{
  background: rgba(255,128,128,.1) !important;
  cursor: not-allowed;
}

.w, .h, .s, .o { white-space: pre; }
.w:focus, .h:focus,
.o:focus, .s:focus,
.translation:focus{ outline: none; }

.w      { background: rgba(0,255,0,.05); }
.w:focus{ background: rgba(0,255,0,.1); }
.w:hover{ background: rgba(0,255,0,.2); }

.h      { background: rgba(0,255,255,.05); }
.h:focus{ background: rgba(0,255,255,.1); }
.h:hover{ background: rgba(0,255,255,.2); }

.s      { background: rgba(0,255,0,.05); }
.s:focus{ background: rgba(0,255,0,.1); }
.s:hover{ background: rgba(0,255,0,.2); }

.o      { background: rgba(255,255,0,.05); }
.o:focus{ background: rgba(255,255,0,.1); }
.o:hover{ background: rgba(255,255,0,.2); }

.translation:focus{ background: rgba(128,255,128,.1); }
.translation:hover{ background: rgba(  0,255,  0,.1); }

.placeholder {
  display: none;
  background: #445;
  pointer-events: none;
}

.utilityBar{
  float:right;
}
.utility:hover{
  color:#fff;
  background: rgba(128,128,128,.1);
}
.utility{
  /* float:right; */
  position: relative;
  right:0px;
  width:20px;
  height:20px;
  color:rgba(255,255,255,.5);
  cursor: pointer;
  background: rgba(0,0,0,.05);
  margin:1px;
  padding:10px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.buttonAdd{
  position: fixed;
  bottom:24px;
  left:20px;
  padding:0px 24px 0px 24px;

}
.button,.buttonAdd,.searchBar{
  background: #778;
  padding:0px 24px 0px 24px;
  color:#223;
  cursor: pointer;
  text-align: center;
  margin-right: 1px;
}
.button:hover{ background: #889; }
.buttonAdd{ background: #779088; border:solid 1px #8a9; color:#bdc }
.buttonAdd:hover{ background: #88a099; color:#dfe }

.searchBar{
  position: fixed;
  margin:0;
  top:24px;
  left:20px;
  height:38px;
  border:solid 1px rgba(255,255,255,.5);
  text-align: left;
  font-size: 16px;
  outline:none;
  cursor:text;
  background: rgba(255,255,255,.7);
}

#reviewPublish{
  /* position:absolute; */
  /* padding:11px 24px 11px 24px !important; */
  /* right:0px; */
  /* bottom:32px; */
  width:200px;
}

#blackout,#blackout_addSong{
  position: absolute;
  background: rgba(0,0,0,.8);
  width:100%;
  height:100%;
  display:none;
}

#add,#review{
  position:absolute;
  width:80%;
  height:90%;
  top:5%;
  left:10%;
  border:solid 1px;
  background: #bbc;
}

#adder,#adderPreview,#reViewer{
  height:calc(100% - 84px);
  width:calc(100% - 44px);
  padding:20px;
  margin:0;
  border:solid 1px;
  background: #dde;
  margin-left:1px;
  margin-top:1px;
  margin-bottom:1px;
  overflow: auto;
}
#adder:focus{ outline:none; }
#adder,#adderPreview{
  float:left;
  width:calc(50% - 44px);
  white-space: pre-line;
}
#adder{
  border:solid #000 1px;
  resize: none;
  font-size: 14px;
}

label{
  cursor: pointer;
}
