body{
  background:#aaa;
  margin:0;
  padding:0;
}

#input{
  font-size:20px;
  color:#444;
  background:#eee;

  margin:20px;
  padding:20px;
  border:solid #000 1px;
  outline:none;
  resize:none;

  top:0px;
  left:0px;
  width:calc(100% - 40px);
  height:40px;
}

#output{
  font-size:20px;
  color:#444;
  background:#ddd;
  white-space:pre;
  line-height: 1.4em;
  overflow:auto;

  margin:20px;
  padding:20px;
  border:solid 1px;

  position:absolute;
  top:60px;
  left:0px;
  width:calc(100% - 80px);
  height:calc(100% - 140px);
}
